<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Iniciar Sesion</title>
</head>
<body>
    <%- include('../partials/navegacion') %>
    <main class="registro-main">
    <div class="center">
        <h1>Ingresar</h1>
        <form method="POST" action="/login"  class="formulariosAdmin">
            <div class="txt_field">
                <input type="email" name="email"  >
                <span></span>
                <label>Correo Electrónico</label>
            </div>  
            <% if(locals.errors && locals.errors.email){ %>
                    <p class="msg-error"> <%= locals.errors.email.msg %> </p>
                  <% } %> 
            <div class="txt_field">
                <input type="password" name="password" >
                <span></span>
                <label>Contraseña</label>
            </div>
            <% if(locals.errors && locals.errors.password){ %>
                    <p class="msg-error"> <%= locals.errors.password.msg %> </p>
                  <% } %> 
            <div class="txt_field">
              <input type="checkbox" name="recordarme">
              <span></span>
              <label>Recordame</label>
          </div>
         
            <div class="pass">Olvidaste tu contraseña?</div>
            <input type="submit" value="Ingresa">
            <div class="signup_link">
                No eres miembro? <a href="/registro">Registrate!</a>
          
        </form>
    </div>

    </main>
    <%- include('../partials/footer') %>
    
</body>
</html>