<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <% if (locals.usuario) { %>
        <title><%= usuario.nombre %></title>
    <% } else { %>
        <title>Usuario</title>
    <% } %>
        
</head>
<body>
    <%- include('../partials/navegacion') %>
    <main class="registro-main">
        <br>
        <h1 class="titulo">Mi perfil</h1>
    <div class="center">
        <div  class="contenedorPerfil">
        <img src="<%= locals.usuario.img %>" alt="imagen usuario" class="img-cards-usuario">
         <div><%= locals.usuario.nombre %></div>
         <div><%= locals.usuario.email %></div>
        </div>
    </div>

    </main>
    <%- include('../partials/footer') %>
    
</body>
</html>