<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
   <title>Home Adopta me</title>

</head>
<body>
    <%- include('../partials/navegacion') %>     
    <main>  
        <!-- <h1 class="titulo">Home + Gallery</h1> -->
        <section class="main-section-introduccion"> 
            <div class="contenido-introduccion"> 
                        <!-- <img src="/img/backgroundMainHomeOption2.jpg" alt="logo" class="logo"> -->
                <h2>Adopta la mascota adecuada para tí.</h2>
                <p> Somos una entidad sin ánimo de lucro, conformada
                    por una pequeña comunidad de desarrolladores, 
                    con el fin de ayudar a los animalitos a encontrar el mejor hogar para ellos.

                </p>
                <p>
                    La adopción de los animalitos se contará con una serie de requísitos que podrás
                    encontrar con mejor detalle dando click en el botón "Proceso de adopción".
                </p>
                <button class="boton" type="button" onclick="location.href='/'">Proceso de adopción </button>
            </div>
        </section>

        <section class="main-section-animalitos">
            <form action="buscar" method="get">
                <div class="contenedor-input-wrapper">
                    <div class="input-wrapper">
                        <!-- <label for="buscador"> Buscador:</label> -->
                        <input type="text" name="buscador" id="buscador" placeholder="Ingrese palabra a buscar">
                        <span class="icon-imput"><a href=""><i class="fa-solid fa-magnifying-glass"></i></a></span>
                    </div>
                </div>
                <div class="contendedor-dropdown">
                    <select name="animalitos" id="animalitos">
                        <option value="-">Ninguno</option>
                        <option value="gato">Gato</option>
                        <option value="perro">Perro</option>
                        <option value="caballos">Caballo</option>
                        <option value="Hamster">Hamster</option>
                        <option value="pajaros">Pájaros</option>
                    </select>
                    <button class="boton2" type="button" onclick="location.href='/'"> buscar animalito</button>
                </div>
            </form>


            <div class="container-ajustarAnimales">
                <div class="container-animales" >
                    <% mascotas.forEach(elemento => { %>
                        <div class="animalito-card">
                            <img src= '<%= elemento.img %>'  alt="iamgen" class="animalito-img-cards">
                            <h3 > <%= elemento.nombre %> </h3>
                            <p>
                                <%= elemento.descripcion %>
                            </p>
                            <button class="boton2" type="button" onclick="location.href='/detalle/<%= elemento.id %>'">Ver más</button>
                        </div>
                    <% }); %>
                </div>
            </div>



        </section>
    </main>

    <%- include('../partials/footer') %>
   
</body>
</html>