<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
     <title>Agregar Mascota</title>
</head>
<body> <%- include('../partials/navegacion') %> 
    <main>
        <div class="main-info">
            <h2 class="tituloFormulariosAdmin">Agregar Mascota</h2>
        
            <form action="/admin/agregarMascota" method="POST" class="formulariosAdmin" enctype="multipart/form-data" >
                <div>
                    <label for="nombre">Nombre :</label> 
                    <input type="text" name="nombre"  id="nombre" placeholder="Nombre de la mascota" >
                   
                </div>
                <% if(locals.errors && locals.errors.nombre){ %>
                    <p class="msg-error"> <%= errors.nombre.msg %>  </p>
                  <% } %> 
                <div class="form-edad">
                      <label for="edad">Edad :</label>    
                    <input type="number" name="edad" id="edad" placeholder="Edad de la mascota" >
                </div>
                <% if(locals.errors && locals.errors.edad){ %>
                    <p class="msg-error"> <%= errors.edad.msg %>  </p>
                  <% } %> 
                <div class="form-sexo"> 
                    <p>Sexo :</p><br>
                    <div class="contenedorcheck">
                        <div>
                            <label for="macho">Macho</label>
                            <input type="radio" name="sexo" id="macho" value="Macho" >
                      
                        </div>
                        <div>
                            <label for="hembra">Hembra</label>
                            <input type="radio" name="sexo" id="hembra" value="Hembra" >
                       
                        </div>
                    </div>
                </div>

                <div>
                    <label for="raza">Raza :</label> 
                    <input type="text" name="raza" id="raza" placeholder="Raza de la mascota" >
                </div>

                <div>
                    <label for="tipoMascota">Tipo de mascota :</label>
                    <select name="tipoMascota" id="tipoMascota">
                        <option value="-">Ninguno</option>
                        <option value="gato">Gato</option>
                        <option value="perro">Perro</option>
                        <option value="caballos">Caballo</option>
                        <option value="Hamster">Hamster</option>
                        <option value="pajaros">P치jaros</option>
                    </select>
                </div>

                <div>
                    <label for="descripcion">Descripci칩n :</label>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripci칩n de la mascota" ></textarea>
                </div>

                <div>
                    <label for="img">Imagen :</label>
                    <input type="file" name="img" id="img" >
                </div>

                <div>
                    <label for="estado">Estado :</label><br>
                    <div class="contenedorcheck">
                        <div>
                            <input type="radio" name="estado" id="adoptado" value="true" >
                            <label for="adoptado">Adoptado</label>
                        </div>
                        <div>
                            <input type="radio" name="estado" id="noAdoptado" value="false" >
                            <label for="noAdoptado">No Adoptado</label>
                        </div>
                    </div>
                </div>

                <div class="form-vacunas">
                    <label for="vacunas">Vacunas: </label>
                    <input type="number" name="vacunas" id="vacunas" placeholder="cantidad vacunas de la mascota" >
                </div>
                    
                <div class="form-ciudad">Ciudad: 
                    <select name="ciudad" id="ciudad">
                        <option value="Bogota">Bogot치</option>
                        <option value="Montevideo">MonteVideo</option>
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Cordoba">Cordoba</option>
                        <option value="BuenosAires">Buenos Aires</option>
                    </select>
                </div>
                
                <div class="form-pais">
                    <select name="pais" id="pais">
                        <option value="Colombia">Colombia</option>
                        <option value="Uruguay">Uruguay</option>
                        <option value="Argentina">Argentina</option>
                    </select>
                </div>
                <div>
                    <label for="actitud">Actitud :</label> 
                    <input type="text" name="actitud" id="actitud" placeholder="Actitud de la mascota">
                </div>

                <div> 
                    <button type="submit" class="form-button">Agregar info</button>
                    <button type="reset" class="form-button-delete" onclick="location.href='/form'">Borrar</button>
                </div>

            </form>
        </div>
            
            
           
           
       
         
          
          
            
         
           
    </main>

    <%- include('../partials/footer') %>
</body>
</html>